@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,700&family=Bebas+Neue&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100;1,500&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,700&family=Roboto:wght@300;400;500;700&family=Supermercado+One&display=swap');
body{
    background: lightcyan;
    font-family: 'Poppins', sans-serif;
}
header{
    /* margin-bottom: 100px; */
}
.head a{
    font-weight: 700;
}
nav ul li{
    width: 90px;
}
.slide button{
    font-weight: 600;
}
.justify-content-center{
    margin: 50px;
}
.img-fluid {
    max-width: 150%;
    height: auto;
}
section h1{
    margin-bottom: 50px;
}
.card-group{
    width: 95%;
    margin: 0 auto;
}
.card{
    margin-right: 15px;
}
.card:nth-child(3){
    margin-right: 0;
}
.card-group .fa-solid{
    color: blue;
}
.pakages{
    width: 95%;
    margin: 0 auto;
}